# This CITATION.cff file was generated with cffinit.
# Visit https://bit.ly/cffinit to generate yours today!

cff-version: 1.2.0
title: @project.app@
message: >-
  If you use this software, please cite it using the
  metadata from this file.
type: software
authors:
  - given-names: Dennis
    family-names: Ried
    email: forschung@dennisried.de
    affiliation: Martin-Luther-Universität Halle-Wittenberg
    orcid: '0000-0001-5545-2088'
repository-code: '@project.url@'
url: 'https://baumann-digital.de'
keywords:
  - digital edition
  - research software
  - digital humanities
license: CC-BY-4.0
commit: @project.version.hash@
version: '@project.version@'
date-released: '@release.date@'
