<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="@project.url@"
    abbrev="@project.app@" version="@project.version@-@project.version.hash@" spec="1.0">
    <title>@project.name@</title>
    <dependency processor="http://exist-db.org" semver-min="6.0.0"/>
<!--    <dependency package="http://exist-db.org/xquery/html-templating" semver-min="1.0.0"/>-->
    <dependency package="http://exist-db.org/html-templating" semver-min="1.0.0"/>
    <dependency package="http://www.functx.com" semver-min="1.0.0"/>
</package>
