// Link Styles
// ==================================================

// Links outside navigation
main a:not(.nav-link):not(.btn) {
  color: $baudi-green !important;
  transition: color 0.2s ease;
  
  &:hover {
    color: $baudi-purple !important;
    text-decoration: underline;
  }
}
