<?xml version="1.0" encoding="UTF-8"?>
<nav xmlns:i18n="http://exist-db.org/xquery/i18n" data-template="i18n:translate" data-template-lang="en" data-template-catalogues="/db/apps/baudiApp/resources/lang" 
    class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">BauDi<span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a class="nav-link" href="aboutBaumann.html">Ludwig
                    Baumann</a>
            </li>
            <li class="dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i18n:text key="baudi.mainNav.registry"/><span class="caret"/>
                </a>
                <ul class="dropdown-menu navbar-dark bg-dark">
                    <li>
                        <a class="nav-link" href="/registryWorks.html"><i18n:text key="baudi.mainNav.registry.works"/></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/registrySources.html"><i18n:text key="baudi.mainNav.registry.sources"/></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/registryEditions.html"><i18n:text key="baudi.mainNav.registry.editions"/></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/registryDocuments.html"><i18n:text key="baudi.mainNav.registry.documents"/></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/registryPersons.html"><i18n:text key="baudi.mainNav.registry.persons"/></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/registryInstitutions.html"><i18n:text key="baudi.mainNav.registry.institutions"/></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/registryLoci.html"><i18n:text key="baudi.mainNav.registry.loci"/></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/registryPeriodicals.html"><i18n:text key="baudi.mainNav.registry.periodicals"/></a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i18n:text key="baudi.mainNav.project.about"/><span class="caret"/>
                </a>
                <ul class="dropdown-menu navbar-dark bg-dark">
                    <li>
                        <a class="nav-link" href="/aboutProject.html"><i18n:text key="baudi.mainNav.project.about.baudi"/></a>
                    </li>
                    <!--<li>
                        <a class="nav-link" href="/viewGuidelines.html"><i18n:text key="baudi.mainNav.project.about.documentation"/></a>
                    </li>-->
                    <li>
                        <a class="nav-link" href="/imprint.html"><i18n:text key="baudi.mainNav.imprint"/></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav">
        <div data-template="app:langSwitch"/>
    </ul>
    <!--<form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
        <!-\-                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">start</button>-\->
    </form>-->
</nav>
