<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <h1>Upps, ...</h1>
    <div class="row">
        <br/>
        <img class="col-4" src="https://digilib.baumann-digital.de/landingPage/catalogs/04-gallery-thumbnail.jpg?dh=200&amp;dw=100"/>
        <div class="col">
            <div class="source-links">
                <br/>
                <h5>Da ist wohl etwas schiefgegangen!</h5>
                <br/>
                <p>Das auftreten dieses Fehlers wurde in der Datenbank anonym hinterlegt. Wir kümmern uns bereits um eine Lösung!</p>
                <br/>
            </div>
        </div>
    </div>
    <br>
</div>