<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <div  data-template="i18n:translate" data-template-lang="en"
        data-template-catalogues="/db/apps/baudiApp/resources/lang">
        <h1><i18n:text key="baudi.errorPage.heading"/></h1>
        <br/>
        <div class="row">
            <div class="col">
                <br/>
                <h5><i18n:text key="baudi.errorPage.sthWentWrong"/></h5>
                <br/>
                <p><i18n:text key="baudi.errorPage.teamIsInformed"/></p>
                <p><i18n:text key="baudi.errorPage.directConctact"/></p>
                <br/>
            </div>
            <img class="col-4" src="https://digilib.baumann-digital.de/landingPage/catalogs/04-gallery-thumbnail.jpg?dh=1000&amp;dw=500"/>
        </div>
        <div data-template="app:errorReport"/>
        <pre class="error templates:error-description"/>
        <br/>
    </div>
</div>