<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title data-template="config:app-title">Baumann-Digital</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="https://baumann-digital.de/icon.png" />
        <!-- TODO: paths are hardcoded, not good... -->
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://baumann-digital.de/resources/css/bootstrap.min.css" />
        <!-- Core theme CSS for landing page (includes Bootstrap)-->
        <link href="https://baumann-digital.de/resources/css/landingPageStyles.css" rel="stylesheet" />
        <!-- Cookie alert -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css"/>
        <!-- font awesome -->
        <link rel="stylesheet" href="https://baumann-digital.de/resources/css/font-awesome.min.css" />
        <!-- sticky-footer -->
        <link href="https://baumann-digital.de/resources/css/sticky-footer-navbar.css" rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link href="https://baumann-digital.de/resources/css/theme.css" rel="stylesheet" />
    </head>
    <body id="body" class="d-flex flex-column" xmlns:i18n="http://exist-db.org/xquery/i18n">
        <nav data-template="templates:include" data-template-path="templates/baudiMainNav.html"></nav>
        <div data-template="app:alert"/>
        <!--        <div style="height: 37px;"/>-->
        <main role="main" class="container mt-1" id="content"></main>
        <div class="modal fade" id="landingModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div  data-template="i18n:translate" data-template-lang="en"
                data-template-catalogues="/db/apps/baudiApp/resources/lang">
                <div class="modal-dialog">
                    <div class="modal-content">
                        
                        <!-- Modal Header -->
                        
                        <div class="modal-header">
                            <h4 class="modal-title"><i18n:text key="baudi.landing.modal.concerningContent"/></h4>
                            <button type="button" class="close" data-dismiss="modal">X</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body">
                            <i18n:text key="baudi.landing.modal.text.1"/>
                            <br/>
                            <i18n:text key="baudi.landing.modal.text.2"/>
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i18n:text key="baudi.landing.modal.start"/></button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="alert text-center cookiealert" role="alert">
            <div  data-template="i18n:translate" data-template-lang="en"
                data-template-catalogues="/db/apps/baudiApp/resources/lang">
                <i18n:text key="baudi.landing.cookies.notice"/> <a href="https://cookiesandyou.com/" target="_blank"><i18n:text key="baudi.landing.cookies.learnMore"/></a>
                
                <button type="button" class="btn btn-primary btn-sm acceptcookies">
                    <i18n:text key="baudi.landing.cookies.accept"/>
                </button>
            </div>
        </div>
        <footer data-template="templates:include" data-template-path="templates/baudiMainFooter.html"></footer>
        <!-- Bootstrap core JavaScript
				 ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- Cookie Alert -->
        <!--<script>
    for (var i = 1; i <= 150; i++)
        document.querySelector("#fillme").innerHTML += "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ";
</script>-->
        <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="https://baumann-digital.de/resources/js/assets/mail/jqBootstrapValidation.js"></script>
        <script src="https://baumann-digital.de/resources/js/assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="https://baumann-digital.de/resources/lib/counterup/jquery.waypoints.min.js"/>
        <script src="https://baumann-digital.de/resources/lib/counterup/jquery.counterup.js"/>
        <script src="https://baumann-digital.de/resources/js/landingPageScripts.js"></script>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        
        <script type="text/javascript">
            $('#landingModal').modal('show')
        </script>
    </body>
</html>
