<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <!--        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title data-template="config:app-title">Baumann-Digital</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="/exist/apps/baudiApp/icon.png"/>

        <!-- TODO: paths are hardcoded, not good... -->

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/exist/apps/baudiApp/resources/css/bootstrap.min.css"/>
        
        <!-- Core theme CSS for landing page (includes Bootstrap)-->
        <link href="/exist/apps/baudiApp/resources/css/landingPageStyles.css" rel="stylesheet" />
        
        <!-- Bootstrap theme -->
<!--        <link href="/exist/apps/baudiApp/resources/css/bootstrap-theme.min.css" rel="stylesheet"/>-->

        <!-- Bootstrap social (https://lipis.github.io/bootstrap-social/) -->
        <!--        <link href="/exist/apps/baudiApp/resources/css/bootstrap-social.css" rel="stylesheet"/>-->

        <!-- font awesome -->
        <link rel="stylesheet" href="/exist/apps/baudiApp/resources/css/font-awesome.min.css"/>
        

        <!-- sticky-footer -->
        <link href="/exist/apps/baudiApp/resources/css/sticky-footer-navbar.css" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link href="/exist/apps/baudiApp/resources/css/theme.css" rel="stylesheet"/>
        <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"/> -->
        
    </head>
    <body id="body" class="d-flex flex-column">
        
        <nav data-template="templates:include" data-template-path="templates/baudiMainNav.html"/>
        <div style="height: 37px;"/>
        <main role="main" class="container mt-1" id="content">
            <!--<div />-->
        </main>
        <footer data-template="templates:include" data-template-path="templates/baudiMainFooter.html"></footer>
        <!-- Bootstrap core JavaScript
				 ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/exist/apps/baudiApp/resources/js/jquery-1.12.4.min.js"/>
        <script src="/exist/apps/baudiApp/resources/js/jquery-3.2.1.slim.min.js"/>
        <script src="/exist/apps/baudiApp/resources/js/popper-1.12.9.min.js"/>
        <script src="/exist/apps/baudiApp/resources/js/bootstrap.min.js"/>
        <script src="/exist/apps/baudiApp/resources/js/popper-1.12.9.min.js"/>
        <script src="/exist/apps/baudiApp/resources/js/bootstrap.min.js"/>
        
<!--        <script src="http://www.verovio.org/javascript/latest/verovio-toolkit.js"/>-->
<!--        <script src="/exist/apps/baudiApp/resources/verovio/verovio-toolkit.js"/>-->
        <script src="/exist/apps/baudiApp/resources/js/incipit.js"/>
        <!--<script type="text/javascript">

            ///////////////////////////
            /* Create the vrvToolkit */
            ///////////////////////////
            var vrvToolkit = new verovio.toolkit();

            ////////////////////////////////////
            /* Load the file using a HTTP GET */
            ////////////////////////////////////
            $.ajax({
                url: "http://localhost:8080/exist/apps/baudiSources/data/music/songs/baudi-01-6b488120.xml"
                , dataType: "text"
                , success: function(data) {
                    var svg = vrvToolkit.renderData(data, {});
                    $("#svg_output_incip").html(svg);
                }
            });
        </script>-->
        <!--<script type="text/javascript">
            import 'https://www.verovio.org/javascript/app/verovio-app.js';
        
            // Create the app - here with an empty option object
            const app = new Verovio.App(document.getElementById("app"), {});
        
            // Load a file (MEI or MusicXML)
            fetch("https://www.verovio.org/examples/hello-world/Haydn_StringQuartet_Op1_No1-p1.mei")
                .then(function(response) {
                    return response.text();
                })
                .then(function(text) {
                    app.loadData(text);
                });
        </script>-->
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="/exist/apps/baudiApp/resources/js/assets/mail/jqBootstrapValidation.js"></script>
        <script src="/exist/apps/baudiApp/resources/js/assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="/exist/apps/baudiApp/resources/js/landingPageScripts.js"></script>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    </body>
</html>