<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <!--        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title data-template="config:app-title">Baumann-Digital</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="/exist/apps/baudiApp/icon.png"/>

        <!-- TODO: paths are hardcoded, not good... -->

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/exist/apps/baudiApp/resources/css/bootstrap.min.css"/>

        <!-- Bootstrap theme -->
        <link href="/exist/apps/baudiApp/resources/css/bootstrap-theme.min.css" rel="stylesheet"/>

        <!-- Bootstrap social (https://lipis.github.io/bootstrap-social/) -->
        <!--        <link href="/exist/apps/baudiApp/resources/css/bootstrap-social.css" rel="stylesheet"/>-->

        <!-- font awesome -->
        <link rel="stylesheet" href="/exist/apps/baudiApp/resources/css/font-awesome.min.css"/>

        <!-- sticky-footer -->
        <link href="/exist/apps/baudiApp/resources/css/sticky-footer-navbar.css" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link href="/exist/apps/baudiApp/resources/css/theme.css" rel="stylesheet"/>
        <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"/> -->
        
    </head>
    <body id="body" class="d-flex flex-column">
        
        <nav data-template="templates:include" data-template-path="templates/baudiMainNav.html"/>
        
        <main role="main" class="container mt-1" id="content">
            <!--<div />-->
        </main>
<!--        <div id="content" class="container"/>-->
        <footer data-template="templates:include" data-template-path="templates/baudiMainFooter.html"></footer>

        <!-- Bootstrap core JavaScript
				 ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"/>-->
<!--        <script src="/exist/apps/baudiApp/resources/js/jquery-1.12.4.min.js"/>-->
<!--        <script src="/exist/apps/baudiApp/resources/js/jquery-3.2.1.slim.min.js"/>-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"/>
        <script src="/exist/apps/baudiApp/resources/js/popper-1.12.9.min.js"/>
        <script src="/exist/apps/baudiApp/resources/js/bootstrap.min.js"/>
        
        <script src="http://www.verovio.org/javascript/latest/verovio-toolkit.js"/>
<!--        <script src="https://www.verovio.org/javascript/latest/verovio-toolkit-light.js" type="text/javascript"/>-->
        <script src="/exist/apps/baudiApp/resources/js/incipit.js"/>
        <!--<script type="text/javascript">

            ///////////////////////////
            /* Create the vrvToolkit */
            ///////////////////////////
            var vrvToolkit = new verovio.toolkit();
           
           
            ////////////////////////////////////
            /* Load the file using a HTTP GET */
            ////////////////////////////////////
            /*$.get( myIncipit(), function( data ) {
                var svg = vrvToolkit.renderData(data, {});
                $("#verovioApp").html(svg);
                }, 'text');*/
            $.ajax({
                url: myIncipit()
                , dataType: "text"
                , success: function(data) {
                    var svg = vrvToolkit.renderData(data, {});
                    $("#verovioApp").html(svg);
                }
            });
        </script>-->
        
        <!--<script type="application/xquery" src="/exist/apps/baudiApp/resources/js/mxqueryjs/mxqueryjs.nocache.js"/>
        <script type="application/xquery">
            import module namespace m = "http://www.xqib.org/module" at "/exist/apps/baudiApp/resources/js/mxqueryjs/mxqueryjs.nocache.js";
      
            declare function m:incipUri() {
              let $workId := request:get-parameter("work-id", "Fehler")
              let $work := collection("/db/apps/baudiWorks/data")//mei:work[@xml:id=$workId]
              let $fileUri := document-uri($work/root())
              let $incipUriRest := concat('http://localhost:8080/exist/rest',$fileUri) (: '?_query=//incip' :)
              return
                $incipUriRest
            };
        </script>-->
        <script type="text/javascript">

            ///////////////////////////
            /* Some global variables */
            ///////////////////////////
            var vrvToolkit = new verovio.toolkit();
            var zoom = 25;
            var pageHeight = 300;
            var pageWidth = 100;

            ///////////////////////////////////////////////////
            /* A function for setting options to the toolkit */
            ///////////////////////////////////////////////////
            function setOptions() {
                //////////////////////////////////////////////////////////////
                /* Adjust the height and width according to the window size */
                //////////////////////////////////////////////////////////////
                pageHeight = $(document).height() * 100 / zoom ;
                pageWidth = $(window).width() * 100 / zoom ;
                options = {
                            pageHeight: pageHeight,
                            pageWidth: pageWidth,
                            scale: zoom,
                            adjustPageHeight: true,
                            adjustPageWidth: true
                        };
                vrvToolkit.setOptions(options);
            }

            ////////////////////////////////////////////////////////////////////////////////
            /* A function that sets the options, loads the data and render the first page */
            ////////////////////////////////////////////////////////////////////////////////
            function loadData(data) {
                setOptions();
                vrvToolkit.loadData(data);
                svg = vrvToolkit.renderToSVG(1, {});
                $("#verovioIncipit").html(svg);
            }

            $(document).ready(function() {
                var file = myIncipit();
                $.ajax({
                    url: file
                    , dataType: "text"
                    , success: function(data) {
                        loadData(data);
                    }
                });
            });
        </script>
        
        <!--<script type="module">
             import 'https://www.verovio.org/javascript/app/verovio-app.js';

             // Create the app - here with an empty option object
             const app = new Verovio.App(document.getElementById("verovioApp"), {});

             // Load a file (MEI or MusicXML)
             fetch(myIncipit())
                 .then(function(response) {
                     return response.text();
                 })
                 .then(function(text) {
                     app.loadData(text);
                 });
          </script>-->
    </body>
</html>