<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <!--        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title data-template="config:app-title">Baumann-Digital</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--        <meta data-template="config:app-meta"/>-->
        <link rel="shortcut icon" href="http://localhost:8080/exist/apps/baudi/icon.png"/>

        <!-- TODO: paths are hardcoded, not good... -->

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="http://localhost:8080/exist/apps/baudi/resources/css/bootstrap.min.css"/>

        <!-- Bootstrap theme -->
        <link href="http://localhost:8080/exist/apps/baudi/resources/css/bootstrap-theme.min.css" rel="stylesheet"/>

        <!-- Bootstrap social (https://lipis.github.io/bootstrap-social/) -->
        <link href="http://localhost:8080/exist/apps/baudi/resources/css/bootstrap-social.css" rel="stylesheet"/>

        <!-- font awesome -->
        <link rel="stylesheet" href="http://localhost:8080/exist/apps/baudi/resources/css/font-awesome.min.css"/>

        <!-- sticky-footer -->
        <link href="http://localhost:8080/exist/apps/baudi/resources/css/sticky-footer-navbar.css" rel="stylesheet"/>

        <!-- Custom styles for this template -->
        <link href="http://localhost:8080/exist/apps/baudi/resources/css/theme.css" rel="stylesheet"/>
        <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"/> -->
    </head>
    <body id="body">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/index.html">BauDi<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/aboutBaumann.html">Ludwig
                            Baumann</a>
                    </li>
                    <li class="dropdown">
                        <a href="http://localhost:8080/exist/apps/baudi/html/registryAll.html" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Verzeichnisse<span class="caret"/>
                        </a>
                        <ul class="dropdown-menu navbar-dark bg-dark">
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/registryWorks.html">Werkeverzeichnis (BaWV)</a>
                            </li>
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/registrySources.html">Quellenverzeichnis</a>
                            </li>
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/EdiromOnline/">Neu-Editionen (Edirom)</a>
                            </li>
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/registryPersons.html">Personenverzeichnis</a>
                            </li>
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/registryLetters.html">Briefeverzeichnis</a>
                            </li>
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/registryDocuments.html">Dokumentenverzeichnis</a>
                            </li>
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/registryPlaces.html">Ortsverzeichnis</a>
                            </li>
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/registryInstitutions.html">Institutionenverzeichnis</a>
                            </li>
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/zeitungsarchiv.html">Zeitungsarchiv</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Über das Projekt<span class="caret"/>
                        </a>
                        <ul class="dropdown-menu navbar-dark bg-dark">
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/aboutProject.html">BauDi</a>
                            </li>
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/viewGuidelines.html">Dokumentation</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/impressum.html">Impressum</a>
                    </li>
                    <li class="dropdown">
                        <a href="http://localhost:8080/exist/apps/baudi/html/statusBearb.html" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bearbeitungsstatus<span class="caret"/>
                        </a>
                        <ul class="dropdown-menu navbar-dark bg-dark">
                            <li>
                                <a class="nav-link" href="http://localhost:8080/exist/apps/baudi/html/statusBearb.html">HS Bearb.</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">start</button>
            </form>
        </nav>
        <div id="content" class="container"/>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">© 2018 Dennis Ried | Baumann Digital (BauDi) | Edition
                    Lilienteich, Karlsruhe</p>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
				 ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"/>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"/>
    </body>
</html>