<div xmlns="http://www.w3.org/1999/xhtml" xmlns:i18n="http://exist-db.org/xquery/i18n" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div data-template="i18n:translate" data-template-lang="en" data-template-catalogues="/db/apps/baudiApp/catalogues">
        <div class="container" style="max-width: 90%;">
            <br/>
            <div class="page-header">
                <h1>
                    <i18n:text key="baudi.registry.editions"/>
                </h1>
            </div>
            <hr/>
            <div data-template="app:registryFilterBar"/>
            <hr/>
            <div>
                <div data-template="app:registryEditions"/>
            </div>
        </div>
    </div>
    <script type="text/javascript"> window.onload = onPageLoad(); function onPageLoad() {
        document.getElementById("ampel_rot").checked = true; document.getElementById("ampel_gelb").checked = true;
        document.getElementById("ampel_gruen").checked = true; } </script>
</div>