<div xmlns="http://www.w3.org/1999/xhtml" xmlns:i18n="http://exist-db.org/xquery/i18n"
    data-template="templates:surround" data-template-with="templates/page.html"
    data-template-at="content">
    <div data-template="i18n:translate" data-template-lang="en"
        data-template-catalogues="/db/apps/baudiApp/catalogues">
        <div data-template="app:load-person">
            <div class="container">
                <br/>
                <div class="page-header">
                    <h3><span data-template="app:person-name"/></h3>
                    <h5><span data-template="app:person-id"/></h5>
                </div>
                <br/>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#pills-main-tab"
                            role="tab" aria-controls="pills-main" aria-selected="true">Überblick</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#pills-references-tab" role="tab"
                            aria-controls="pills-references" aria-selected="false">Referenzen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#pills-xml-tab" role="tab"
                            aria-controls="pills-xml" aria-selected="false">XML</a>
                    </li>
                </ul>
                <hr/>
                <!-- Tab panels -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-main-tab" role="tabpanel"
                        aria-labelledby="pills-main-tab">
                        <div class="row">
                            <div class="col-4">
                                <img src="$resources/img/iconPerson.svg" alt="Person" class="img-fluid"/>
                            </div>
                            <div class="col-8">
                                <h5 class="text-center"><i18n:text
                                        key="baudi.registry.persons.general"/></h5>
                                <hr/>
                                <div class="overflow-auto baudi-container"
                                    data-template="app:person-details"/>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-references-tab" role="tabpanel"
                        aria-labelledby="pills-references-tab">
                        <h5 class="text-center"><i18n:text
                                key="baudi.registry.persons.references"/></h5>
                        <hr/>
                        <div class="overflow-auto baudi-container"
                            data-template="app:person-references"/>
                    </div>
                    <div class="tab-pane fade" id="pills-xml-tab" role="tabpanel"
                        aria-labelledby="pills-xml-tab">
                        <div class="card" style="background: aliceblue;">
                            <div class="card-body">
                                <pre><code data-template="app:person-xml"/></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
